service: serverless-backend

plugins:
  - serverless-webpack
  - serverless-offline #serverless-offline needs to be last in the list

provider:
  name: aws
  runtime: nodejs6.10
  stage: dev
  region: us-east-1
  environment:
    USER_POOL_ID: 'us-east-1_HetaxzWw5'
    DATABASE_HOST: '52.15.81.107'
    DATABASE_USER: 'root'
    DATABASE_PASSWORD: 'password' #TODO use secret file
    DATABASE_PORT: 3306
    DATABASE_NAME: 'ovinway'
    DATABASE_DIALECT: 'mysql'
    ISS: 'https://cognito-idp.us-east-1.amazonaws.com/us-east-1_HetaxzWw5/'

functions:
  get-all-users:
    handler: 'src/api/users.all'
    events:
      - http:
          path: /users
          method: GET
          authorizer: auth
          cors: true
  execute-post-confirm-task:
    handler: 'src/cognito/post-confimation.handler'
  auth:
    handler: 'src/api/auth.authorize'